<header>
  <nav style="display: flex; justify-content: space-evenly;">
    <a href="/" style="text-decoration: none;">Главная</a>
    <a href="/user" style="text-decoration: none;">Пользователи</a>
    <a href="/about" style="text-decoration: none;">О нас</a>
    <a href="/info" style="text-decoration: none;">О Вас</a>
  </nav>
</header>